<h1>Listing mentors</h1>

  <style scoped>
	.mentors-list
	{
		tr:nth-child(even) > td
		{
			background: #EEE;
		}
	}
	.mentor-list-ul
	{
		list-style: none;
	}
	.mentor-item
	{
		background: #EEE;
		border-radius: 5px;
		width: 40%;
		float: left;
		text-align: center;
	}
	.mentor-item img
	{
		max-width: 80%;
		margin: 0px auto;
	}
  </style>
<!-- name picture desc skills -->
<div style="max-width: 100%">
	<ul class="mentor-list-ul">

    	     <% @mentors.each do |mentor| %>
		<li class="mentor-item">
			<h3><%= mentor.name %></h3>
			<img src="<%= mentor.picture %>" class="mentor-pic" />
			<p class="desc"><%= mentor.description %></p>
			<p class="skills"><%= mentor.skills %></p>
		<table>
	<tr>
        <td><%= link_to 'Show', mentor %></td>
        <td><%= link_to 'Edit', edit_mentor_path(mentor) %></td>
        <td><%= link_to 'Destroy', mentor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
	</table>

	
		</li>
	<% end %>
	</ul>
</div>

<br/><br/>
<%= link_to 'New Mentor', new_mentor_path, class: 'btn btn-primary' %>

