<link rel="stylesheet" href="//assets.ziggeo.com/css/ziggeo-betajs-player.min.css" />
<script src="//assets.ziggeo.com/js/ziggeo-json2-betajs-player.min.js"></script>
<script>ZiggeoApi.token = "b6c4129db684db7a9940606cad1a0c75";</script>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @mentor.name %>
</p>

<p>
  <strong>Picture:</strong>
  <img src="<%= @mentor.picture %>"/>
</p>

<p>
  <strong>Description:</strong>
  <%= @mentor.description %>
</p>

<p>
  <strong>Skills:</strong>
  <%= @mentor.skills %>
</p>

<%= link_to 'Edit', edit_mentor_path(@mentor) %> |
<%= link_to 'Back', mentors_path %>

<!-- Record Video -->
<ziggeo ziggeo-width=320
        ziggeo-height=240>
</ziggeo>

<!-- Play Video -->
<ziggeo ziggeo-video="718e20a0403ebf688b10503ab452e6f3"
        ziggeo-width=320
        ziggeo-height=240>
</ziggeo>
